{% extends "forum/base.html" %}
{% block title %}
    Répondre au sujet
{% endblock %}

{% block headline %}
    Répondre au sujet
{% endblock %}

{% block headline-sub %}
    {{ topic.title }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    <li><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></li>
    <li class="current"><a href="javascript:;">Répondre au sujet</a></li>
{% endblock %}

{% block content %}

{% if newpost %}
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box alert">
            <strong>Au moins un nouveau message a été posté</strong> dans la discussion
            pendant que vous rédigiez le votre.
        </div>
    </div>
</div>
{% endif %}

{% include "misc/editor.part.html" %}

<div class="row">
    <div class="large-12 columns">
        <form action="#previsualisation" method="POST">
            <textarea class="input-block-level" name="text" rows="20" id="id_text"
                placeholder="Contenu de votre message au format Markdown.">{{ text }}</textarea>

            <div style="text-align: center;">
                <button type="submit" class="button">
                    <i class="icon-ok icon-white"></i>
                    Répondre
                </button>

                <button type="submit" name="preview" class="button secondary">
                    <i class="icon-eye-open"></i>
                    Prévisualisation
                </button>

                <a href="{{ topic.get_absolute_url }}" class="button secondary">
                    <i class="icon-remove"></i>
                    Annuler
                </a>
            </div>

            <input type="hidden" name="last_post" value="{{ last_post_pk }}" />
            {% csrf_token %}
        </form>
    </div>
</div>

{% if text %}
    {% include "forum/previsualization.part.html" %}
{% endif %}

{% endblock %}
